<!-- NOTE TO SELF. MOVE HEADER UP TO NEW PARTIAL OR APP
 -->
<%= link_to "Create a post", new_post_path %>
<%= link_to "Newest", posts_newest_path %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8">
      <%= render partial: "post", collection: @posts %>
    </div>
  </div>
</div>
