<div class = "container">
    <div class="row-fluid">
        <div class="col-md-8" style="padding-right:8em; border-right: 1px solid #ccc;">
          <h2>ABOUT THE SHINE CODE</h2>
            <p>

The Shine Code is the ultimate online platform empowering women to form connections that will allow 

them to grow, develop, learn, and ultimately, shine. Inspired by <a href ="http://nymag.com/thecut/2013/05/shine-theory-how-to-stop-female-competition.html" target="_blank" >shine theory</a>, the idea that when women meet other women who are 

accomplished, talented, smart and successful, they should become friends rather than competitors, The 

Shine Code was started by Elisa Chan and Jessica Thomas when they chose to do exactly that at a coding 

bootcamp in Vancouver, Canada. 

The Shine Code enables meaningful dialogue around women and the workplace, fosters new partnerships 

and mentoring, and forges in-real-life meetings, each holding endless potential. Dedicated to effecting 

change through female friendships, The Shine Code is helping women to take another step forward in 

achieving success and flourishing in their careers.

So come take a look and start shining.</p>
        </div>

        <div class="col-md-4">
          <div class = "row">
           <h3 style = "float: right">Total coffees confirmed: <%= @coffees.count %></h3>
              <h3 style = "float: right"> Pending coffees: <%=@pendingcoffees.count %></h3>
          </div>
          <div class = "row">
              <ul class = "coffee-list" style = "list-style: none" >
              <% @coffees.each do |coffee| %>
              <li>
                Coffee date @ <%=coffee.location %> - <%=coffee.updated_at.strftime("%m/%d/%Y")%>
              </li>
              <% end %>
              
            </ul>
          </div>
        </div>
    </div>
</div>