// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
    margin-left: 20px;
}
.reply-form{
  display: none;
}

#comment_text {
  max-width: 100%
}

.textwraper.reply-form {
  background-color: #fff;
  textarea{
    height: 200px;
  }
  input.btn {
    float:right;
    margin-bottom: 10px;
  }
}

.postinfobot{
  clear:both;
}

.voted {
  color: chartreuse;
}
a.can_vote:hover {
  text-decoration: none;
}
