.stats {
  margin-top: 20px;
}
.post-wrap {
  padding-right: 20px;
  margin-bottom: 60px;
}
.coffees {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
}

.email-invite {
  color: black;
}