#search-nav{
  background-color: #bada55;
  .search {
      color: #363838;
      font-size: 14px;
      font-family: 'Open Sans Light', sans-serif;
      margin-top: 6px;
      height: 38px;

      .wrap {
          background-color: #f3f5f9;
          border-radius: 3px;
      }
      .txt {
          width: 85%;
      }
      input {
          border: none;
          box-shadow: none;
          background-color: #f3f5f9;
          color: #363838;
          font-size: 14px;
          padding: 8px 19px;
          height: 38px;
      }
      button {
          border: solid 1px #697683;
          box-shadow: none;
          background-color: #697683;
          color: #ffffff;
          font-size: 18px;
      }
  }
}
#top{
  background-color: white;
}
.navbar-toggle .icon-bar{
	background: gray;
}

.navbar{
  min-height:auto;
  margin-bottom:0px;
}

.content {
  padding-top: 10px;
}

/*#hero-img {
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0px;
}*/

body {
  background-color: #ecf0f1;
}

#hero {
  background-image: url('/coffee-friends.jpg');
  height:400px;
  background-size: cover;
  background-position: bottom;

}

@media (max-width: 600px) {
  #hero {      
    background-image: url('/little-coffee-friends.jpg');
  }
}