#search-nav{
  background-color: #bada55;
  .search {
      color: #363838;
      font-size: 14px;
      font-family: 'Open Sans Light', sans-serif;
      margin-top: 6px;
      height: 38px;

      .wrap {
          background-color: #f3f5f9;
          border-radius: 3px;
      }
      .txt {
          width: 85%;
      }
      input {
          border: none;
          box-shadow: none;
          background-color: #f3f5f9;
          color: #363838;
          font-size: 14px;
          padding: 8px 19px;
          height: 38px;
      }
      button {
          border: solid 1px #697683;
          box-shadow: none;
          background-color: #697683;
          color: #ffffff;
          font-size: 18px;
      }
  }
}
#top{
  background-color: white;
}
.navbar-toggle .icon-bar{
	background: gray;
}

.navbar{
  min-height:auto;
  margin-bottom:0px;
}

.content {
  padding-top: 10px;
}

body {
  background-color: #fff;
}

#hero {
  /*background-image: url('/coffee-friends.jpg');*/
  background-color: black;
  height:300px;
  background-size: cover;
  background-position: bottom;
  color:#fff;

  #name {
    font-size:3em;
  }
  #username{
    font-size: 1.5em;
    margin-top: -8px;
  }
  #stats{
    font-size: 1.1em;
  }
  .coffee-invite{
    font-size: 1.1em;
    margin-top: 5px;
  }
  .logo {
    height: 200px;
    margin: auto;
  }
  a {
    color: #898989;
  }
}

.hero-content{
  /*padding-top:50px;*/
  td {
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
  }
}

h1, h2, h3, h4 {
  color: #363838;
}

.vertical-align {
  display: flex;
  align-items: center;
  height:100%;
}

.name-about{
  text-align:center;
}

.email-invite {
  padding: 5px;
  color: black;
}

#myModaleditMember {
  color:black;
}
#myModal{
  color:black;
}

#notifications{
  background-color: #C0FFEE;
  font-size: 1.2em;
  color: white;
  &:hover {
    background-color: #C0FFEE;
  }
}

.link-style{
  color: #32ECBA;
}

:target{
  animation: highlight 1s ease;
}
@keyframes highlight {
  0% { background-color: #32ECBA; }
  100% { background-color: white; }
}

.center {
  text-align: center;
}
