.post-actions {
  padding-right: 10px;
}

.clean-post {
  background-color: #fff;
  border-bottom: 3px solid #C0FFEE;
}

.upvote {
  .fa-caret-up {
    margin-left: 2px;
  }
  .upvote-count{
    margin-top: -10px;
  }
}

.post-metadata {
  color: #8A8A8A;
}