.stats {
  margin-top: 20px;
}

.hero {
  color: #fff;
  padding: 20px;
  
  #name{ 
    font-size: 3em;
  }

  #username{
    font-size: 1.5em;
    margin-top: -8px;
  }

  .coffee-invite{
    margin-top: 20px;
    .btn {
      margin-top: 10px;
    }
  }
}

.coffees {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 50px;
}