<div id="hero">

  <div class="row">
    <div class="col-md-8"> HI HELLO </div>
    <div class="col-md-4"> HI HELLELELEELLE </div>
  </div>
  <% if @member.nil? %>
    HEY HI HELLO
  <% else %>
    BYE!
  <% end %>
</div>