<div class="member">

  <%= link_to member_path(member.id) do %>
  <div class="details">
    <%= member.username %> <span class="post-metadata"> <i class="fa fa-map-marker"></i> <%= member.location %></span>
    <p><%= member.blurb %></p>
  </div>
  <% end %>
</div>
