
<!-- MEMBER'S POSTS -->
<div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
    <h3>Her posts</h3>
    <%= render partial: "posts/post", collection: @posts %>
</div>
<!-- /// MEMBER'S POSTS -->


