<%= render partial: "profilehero" %>

<% if flash[:notice] %>
  <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong><%=flash[:notice]%></strong> 
  </div>
<% end %>

<div class="container">
  <div class="row">
      <% if current_member == @member %>
        <%= render partial: "myprofile" %>
      <% else %>
        <%= render partial: "profile" %>
      <% end %>
  </div>
</div>

<script>
  $('.remove-coffee').on('click', function() {
    $(this).remove();
    var coffee = this.id
    $('#'+ coffee).remove();
  });
</script>

