
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8">

      <% if current_member == @member %>
        <%= render partial: "myprofile" %>
      <% else %>
        <%= render partial: "profile" %>
      <% end %>

    </div>
  </div>
</div>

<script>
  $('.remove-coffee').on('click', function() {
    $(this).remove();
    var coffee = this.id
    $('#'+ coffee).remove();
  });
</script>

